<%- include("header") %>

<div class="box">
  <div class="item">
    <i class="fas fa-key fa-6x"></i>
    <h2>Welcome</h2>
    <p>Login or register to see our movies list</p>
    <hr>
    <a href="/register" role="button">Register</a>
    <a href="/login" role="button">Login</a>

  </div>
</div>

<%- include("footer") %>
