<%- include("header") %>

<div class="box">
    <form class="item" action="/register" method="POST">
        <p>Register</p>
        <input type="email" name="username" placeholder="Email" autocomplete="off">
        <input type="password" name="password" placeholder="Password" autocomplete="off">
        <button type="submit">+</button>
    </form>

</div>

<%- include("footer") %>